@page "/"
@inherits LayoutComponentBase

<PageTitle>GoodReadsDupe</PageTitle>

<NavLink href="/books" class="btn btn-primary">
    Go to Book Search
</NavLink>


<div class="left-column">

</div>

<div class="primary-column">
    <div class="welcome-sign">
        <h5>Welcome to GoodReadsDupe</h5>
        <p><bold>Meet your favorite book, app find our reading community, app and manage your reading life</bold></p>
    </div>
</div>

<div class="right-column"> 
    <p>Welcome to your new app</p>
</div>

<NavLink />